.message {
  max-width: 255px;
  margin: 10px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;

  &__text {
    word-wrap: break-word;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__footer {
    display: flex;
    align-items: center;
    position: relative;

    .like {
      display: flex;
      align-items: center;
      padding: 3px 6px;
      font-size: 12px;
      margin-right: 7px;
      border-radius: 10px;
      font-weight: bold;
      cursor: default;
    }

    .date {
      font-size: 12px;
      font-weight: bold;
      margin-left: auto;
      order: 2;
    }
  }

  .material-icons {
    font-size: 16px;
    margin-right: 7px;
    cursor: pointer;
  }
}

.from-me {
  color: #eee;
  background: #333;
  align-self: flex-end;
  margin-right: 10px;

  .like {
    background-color: #eee;
    color: #333;
    .icon-like {
      cursor: default;
    }
  }
}
